In [2]:
import numpy as np
import pandas as pd

arr_1 = np.array([10,20, 30, np.nan])
print(arr_1)
print(arr_1.dtype)

#Reason: 
#1. np.nan type float64
#2. int64 not nullable type i.e. cannot handle missing values

#Excel file--> column: age

[10. 20. 30. nan]
float64

In [5]:
ser_1 = pd.Series([10, 20, 30, np.nan], dtype = "Int64")
print(ser_1)
#np.nan --> NA
#Data type: Int64 (Nullable data type)

0      10
1      20
2      30
3    <NA>
dtype: Int64

In [8]:
ser_2 = pd.Series([10.0, 20.0, 30.0, np.nan], dtype = "Float64")
print(ser_2)
#np.nan --> NA
#Data type: Float64 (Nullable data type)

0    10.0
1    20.0
2    30.0
3    <NA>
dtype: Float64

In [10]:
arr_2 = np.array([10.0, 20.0, 30.0, np.nan], dtype = "float64")
print(arr_2)
print(arr_2.dtype)
#np.nan
#Data type: float64 (Nullable data type of numpy)

[10. 20. 30. nan]
float64

In [3]:
arr_3 = np.array(['Google', 'Meta', 'Apple', np.nan])
print(arr_3)
print(arr_3.dtype)
#np.nan --> 'nan'
#Data type: <U6 (<: little endian, U: unicode, 32: length, not-nullable)

['Google' 'Meta' 'Apple']
<U6

In [13]:
ser_3 = pd.Series(['Google', 'Meta', 'Apple', np.nan], dtype = "string")
print(ser_3)
#np.nan --> NA
#Data type: string (Nullable data type)

0    Google
1      Meta
2     Apple
3      <NA>
dtype: string

In [14]:
ser_4 = pd.Series([True, False, np.nan], dtype = "boolean")
print(ser_4)
#np.nan --> NA
#Data type: boolean (Nullable data type)

0     True
1    False
2     <NA>
dtype: boolean

In [6]:
arr_4 = np.array(['Google', {'A': 10}, 10.0, np.nan])
print(arr_4)
print(arr_4.dtype)
#np.nan --> nan
#Data type: object

['Google' {'A': 10} 10.0 nan]
object

In [16]:
ser_5 = pd.Series(['Google', {'A': 10}, 10.0, np.nan])
print(ser_5)
#np.nan --> NaN
#Data type: object

0       Google
1    {'A': 10}
2         10.0
3          NaN
dtype: object

In [17]:
ser_6 = pd.Series([10.0, 20.0, 30.0, np.nan])
print(ser_6)
#np.nan --> NaN
#Data type: float64 (Nullable data type)
#pndas is developed on the numpy hence it follows the type conversion rules from numpy

0    10.0
1    20.0
2    30.0
3     NaN
dtype: float64

In [21]:
print(np.nan == np.nan)
print(pd.NA == pd.NA)

False
<NA>

In [22]:
print(type(np.nan))
print(type(pd.NA))

<class 'float'>
<class 'pandas._libs.missing.NAType'>

In [23]:
a = np.nan
b = np.nan
print(a is b)

True

In [24]:
a = pd.NA
b = pd.NA
print(a is b)

True

In [25]:
a = np.nan
print(np.isnan(a))

True

In [27]:
b = pd.NA
print(pd.isna(b))
print(pd.notna(b))

True
False

In [15]:
df1 = pd.DataFrame(
  {
    'a': [1, 2, 3],
    'b': [2, 3, 7]
  },
  index=['tiger', 'zebra', 'abc']
)
# print(df1.mean())
# print(df1)

df1.mean(axis=1)

tiger    1.5
zebra    2.5
abc      5.0
dtype: float64

In [16]:
df1 = pd.DataFrame(
  {
    'a': [1, 2],
    'b': [2, 3]
  },
  index=['tiger', 'zebra']
)
df1.median()

a    1.5
b    2.5
dtype: float64

In [18]:
df3 = pd.DataFrame(
  [('bird', 2, 2), ('mammal', 4, np.nan), ('arthropod', 8, 0), ('bird', 2, np.nan)],
  index=('falcon', 'horse', 'spider', 'ostrich'),
  columns=('species', 'legs', 'wings')
)
print(df3)
df3.mode()

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0