In [3]:
import pandas as pd
import numpy as np

dFrame1 = pd.DataFrame(
  {
    'angles': [0, 3, 4],
    'degrees': [360, 180, 360]
  },
  index=['circle', 'triangle', 'rectangle']
)
print(dFrame1)
print(dFrame1 + 1)
print(dFrame1.add(1))

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [9]:
dFrame2 = pd.DataFrame(
  {
    'A': pd.Series([0, 3, 4, np.nan], dtype = 'Int64', index=['R1', 'R2', 'R3', 'R4']),
    'B': pd.Series([360, 180, 360, np.nan], dtype = 'Float64', index=['R1', 'R2', 'R3', 'R4'])
  }
)
print(dFrame2)
print(dFrame2 + 1)
print(dFrame2.add(1, fill_value = 0))
print(dFrame2 + [10, 20])

print(dFrame2.add(pd.Series([10, 20, 30, 40], index = ["R1", "R2", "R3", "R4"]), axis = 0))
print(dFrame2.add(pd.Series([10, 20], index = ["R1", "R2"]), axis = 0))

       A      B
R1     0  360.0
R2     3  180.0
R3     4  360.0
R4  <NA>   <NA>
       A      B
R1     1  361.0
R2     4  181.0
R3     5  361.0
R4  <NA>   <NA>
    A      B
R1  1  361.0
R2  4  181.0
R3  5  361.0
R4  1    1.0
       A      B
R1    10  380.0
R2    13  200.0
R3    14  380.0
R4  <NA>   <NA>
       A      B
R1    10  370.0
R2    23  200.0
R3    34  390.0
R4  <NA>   <NA>
       A      B
R1  10.0  370.0
R2  23.0  200.0
R3  <NA>   <NA>
R4  <NA>   <NA>

In [12]:
dFrame3 = pd.DataFrame(
  {
    'A': [1, 2],
    'B': [3, 4]
  }, index=['row1', 'row2']
)

dFrame4 = pd.DataFrame(
  {
    'B': [5, 6],
    'C': [7, 8]
  }, index=['row2', 'row3']
)

print("DataFrame 1:\n", dFrame3, "\n")
print("DataFrame 2:\n", dFrame4, "\n")
print(dFrame3 + dFrame4)
# result_add_fill = dFrame3.add(dFrame4, fill_value=0)
# print("Result of dFrame3.add(dFrame4, fill_value=0):\n", result_add_fill, "\n")

dFrame3_aligned, dFrame4_aligned = dFrame3.align(dFrame4, join='inner')
print("Aligned dFrame3:\n", dFrame3_aligned, "\n")
print("Aligned dFrame4:\n", dFrame4_aligned, "\n")

DataFrame 1:
       A  B
row1  1  3
row2  2  4

DataFrame 2:
       B  C
row2  5  7
row3  6  8

       A    B   C
row1 NaN  NaN NaN
row2 NaN  9.0 NaN
row3 NaN  NaN NaN
Aligned dFrame3:
       B
row2  4

Aligned dFrame4:
       B
row2  5

In [13]:
ser_1 = pd.Series([1, 2, 3])
print(ser_1.mean())

2.0

In [15]:

dFrame1 = pd.DataFrame(
  {
    'a': [1, 2],
    'b': [2, 3]
  },
  index=['tiger', 'zebra']
)
dFrame1.mean(axis=1)

tiger    1.5
zebra    2.5
dtype: float64