In [3]:
import numpy as np
import pandas as pd

s = pd.Series(range(5))
t = pd.Series([True, False])
# s.where(t, 99)
s.mask(t, 99)

0    99
1     1
2    99
3    99
4    99
dtype: int64

In [12]:
index = pd.MultiIndex.from_tuples([
    ('Math', 'Test1'),
    ('Math', 'Test2'),
    ('Science', 'Test1'),
    ('Science', 'Test2')
], names=['Subject', 'Test'])

dFrame2 = pd.DataFrame({
    'Riya': [90, 88, 92, 85],
    'Ramit': [86, 89, 94, 90]
}, index=index)

print(dFrame2)
print(dFrame2.xs('Math', level='Subject'))
print(dFrame2.loc[('Math', 'Test1')])

print(dFrame2.loc[('Math', 'Test1'), 'Riya'])

               Riya  Ramit
Subject Test
Math    Test1    90     86
        Test2    88     89
Science Test1    92     94
        Test2    85     90
       Riya  Ramit
Test
Test1    90     86
Test2    88     89
Riya     90
Ramit    86
Name: (Math, Test1), dtype: int64
90

In [13]:
misaligned_index = pd.MultiIndex.from_tuples([
    ('Math', 'Test1'),      # Matching
    ('History', 'Test1')    # Not in original
], names=['Subject', 'Test'])

misaligned_df = pd.DataFrame({
    'Riya': [1, 2],
    'Ramit': [3, 4]
}, index=misaligned_index)
print(misaligned_df, end = '\n\n')
print(dFrame2 + misaligned_df)

               Riya  Ramit
Subject Test
Math    Test1     1      3
History Test1     2      4

               Riya  Ramit
Subject Test
History Test1   NaN    NaN
Math    Test1  91.0   89.0
        Test2   NaN    NaN
Science Test1   NaN    NaN
        Test2   NaN    NaN

In [15]:
print(pd.Series(["a", "b", "c"]))
print(pd.Series(["a", "b", "c"], dtype="string"))

0    a
1    b
2    c
dtype: object
0    a
1    b
2    c
dtype: string