In [1]:
import numpy as np
import pandas as pd
import os

import sqlalchemy
import pymysql

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

dFrame1 = pd.DataFrame(data)
print(dFrame1)
dFrame1.to_csv('students.csv', index = False)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [6]:
print("Check the", os.getcwd(), "for the file students.csv" )

Check the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G10\Day15\live for the file students.csv

In [7]:
dFrame2 = pd.read_csv('students.csv')
print("The dataframe read from the student.csv is\n",dFrame2, sep = "")

The dataframe read from the student.csv is
      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [8]:
data = {
    'CustomerID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 35, 40],  # Include a NaN value
    'City': ['Delhi', 'Mumbai', 'Chennai', None],  # None to simulate a missing value
    'Spending': [2500.5, 1800.0, 3200.0, 1500.0]
}

dFrame3 = pd.DataFrame(data)
dFrame3.to_csv('customers.csv', index = False)
print("Check the", os.getcwd(), "for the file customers.csv, especially take care for the missing value" )

Check the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G10\Day15\live for the file customers.csv, especially take care for the missing value

In [11]:
# dFrame4 = pd.read_csv('customers.csv')
# print("The dataframe read from the customers.csv is\n",dFrame4, sep = "")

dFrame4 = pd.read_csv('customers.csv', on_bad_lines = 'skip')
print("The dataframe read from the customers.csv is\n",dFrame4, sep = "")

The dataframe read from the customers.csv is
   CustomerID     Name   Age     City  Spending
0         101    Alice  25.0    Delhi    2500.5
1         102      Bob   NaN   Mumbai    1800.0
2         103  Charlie  35.0  Chennai    3200.0
3         104    David  40.0      NaN    1500.0
4         105   Jayant  35.0      NaN       NaN

In [2]:

print(sqlalchemy.__version__)
print(pymysql.__version__)

2.0.42
1.4.6

In [5]:

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Pavan%40123@localhost:3306/data_analytics_g10")

df = pd.read_sql("student", con = engine)
print("Data from 'student' table")
print(df)
engine.dispose()

Data from 'student' table
   rollNo name       email  x_per        state
0       1  ABC  abc@ms.com  77.42    Karnataka
1       2  BCD  bcd@ms.com  33.00    Rajasthan
2       3  CDE  cde@ms.com  77.24  Maharashtra
3       4  def  def@ms.com  66.00       Kerala
4       8  ijk  ijk@ms.com  79.36      Haryana
5      10  AED        None  56.00    Karnataka

In [6]:
engine = create_engine("mysql+pymysql://root:Pavan%40123@localhost:3306/data_analytics_g10")
new_students = pd.DataFrame(
  {
    'rollNo': [11, 12],
    'name': ['RTY', 'UYT'],
    'email': ['rty@ms.com', 'uty@ms.com'],
    'x_per': [92.5, 89.0],
    'state': ['Punjab', 'Rajasthan']
  }
)

new_students.to_sql('student', con=engine, if_exists='append', index=False)
print("New records added successfully.")
engine.dispose()

New records added successfully.

In [11]:


dFrame1 = pd.DataFrame(
  {
      'Name': ['Nehal', 'Nayan', 'Neeraj'],
      'Age': [28, 24, 35],
      'City': ['Jalandhar', 'Jaipur', 'Jodhpur']
  }
)
#json_1 = dFrame1.to_json() # will print the data in the ugly format
json_1 = dFrame1.to_json(indent = 4, orient = 'columns') #it will print the data in better formatting
#json_1 = dFrame1.to_json(indent = 4) #The default orient='columns' is applied
print(json_1)

{
    "Name":{
        "0":"Nehal",
        "1":"Nayan",
        "2":"Neeraj"
    },
    "Age":{
        "0":28,
        "1":24,
        "2":35
    },
    "City":{
        "0":"Jalandhar",
        "1":"Jaipur",
        "2":"Jodhpur"
    }
}

In [12]:
json_1 = dFrame1.to_json(indent = 4, orient = 'index')
print(json_1)

{
    "0":{
        "Name":"Nehal",
        "Age":28,
        "City":"Jalandhar"
    },
    "1":{
        "Name":"Nayan",
        "Age":24,
        "City":"Jaipur"
    },
    "2":{
        "Name":"Neeraj",
        "Age":35,
        "City":"Jodhpur"
    }
}

In [13]:
json_1 = dFrame1.to_json(indent = 4, orient = 'records')
print(json_1)

[
    {
        "Name":"Nehal",
        "Age":28,
        "City":"Jalandhar"
    },
    {
        "Name":"Nayan",
        "Age":24,
        "City":"Jaipur"
    },
    {
        "Name":"Neeraj",
        "Age":35,
        "City":"Jodhpur"
    }
]

In [14]:
json_1 = dFrame1.to_json(indent = 4, orient = 'values')
print(json_1)

[
    [
        "Nehal",
        28,
        "Jalandhar"
    ],
    [
        "Nayan",
        24,
        "Jaipur"
    ],
    [
        "Neeraj",
        35,
        "Jodhpur"
    ]
]

In [15]:
import os
json_object_1 = dFrame1.to_json()
with open('student.json', 'w') as json_file:
    json_file.write(json_object_1)
print("Check the student.json file in the", os.getcwd()," directory")

Check the student.json file in the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G10\Day15\live  directory

In [16]:
with open('student.json', 'r') as json_file:
    dFrame2 = pd.read_json(json_file)
    print(dFrame2)

     Name  Age       City
0   Nehal   28  Jalandhar
1   Nayan   24     Jaipur
2  Neeraj   35    Jodhpur

In [17]:
data = [
    {
      "id": 1,
      "name": {
        "first": "Coleen",
        "last": "Volk"
        }
    },
    {
      "name": {
        "given": "Mark",
        "family": "Regner"
      }
    },
    {
      "id": 2,
      "name": "Faye Raker"
    },
]

print(pd.json_normalize(data))

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker