In [5]:
import numpy as np
import pandas as pd
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])
print(country_cap_series['India'])
#print(country_cap_series['Uganda'])
print(country_cap_series.get('France'))
print(country_cap_series.get('Uganda'))
print(country_cap_series.iloc[0])
print(country_cap_series.iloc[-1])
print(country_cap_series.iloc[1:3])

NewDelhi
Paris
None
NewDelhi
Paris
USA    WashingtonDC
UK           London
dtype: object

In [9]:
ar_4 = np.array([1, 3, 4,np.nan, 8, 13])
print(np.isnan(ar_4))
print("The sum of all element is", np.sum(ar_4))
print("The maximum among of all element is", np.max(ar_4))
print("The minimum among of all element is", np.min(ar_4))
print()
print("The index of minimum among of all element is", np.argmin(ar_4))
print("The index of maximum among of all element is", np.argmax(ar_4))
print()
print("The sum of all element is", np.nansum(ar_4))
print("The maximum among of all element is", np.nanmax(ar_4))
print("The minimum among of all element is", np.nanmin(ar_4))
print()
print("The index of minimum among of all element is", np.nanargmin(ar_4))
print("The index of maximum among of all element is", np.nanargmax(ar_4))

[False False False  True False False]
The sum of all element is nan
The maximum among of all element is nan
The minimum among of all element is nan

The index of minimum among of all element is 3
The index of maximum among of all element is 3

The sum of all element is 29.0
The maximum among of all element is 13.0
The minimum among of all element is 1.0

The index of minimum among of all element is 0
The index of maximum among of all element is 5

In [10]:
a = np.nan
b = np.nan
print(a == b)
print(a is b)

False
True

In [11]:
a = None
b = None
print(a == b)	#True
print(a is b)

True
True

In [21]:
ResultSheet={
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame1 = pd.DataFrame(ResultSheet)
print(dFrame1)
dFrame1["preeti"] = [89, 90, 91]
dFrame1["Arnab"] = [71, 81, 91]
dFrame1["Riya"] = 80
print(dFrame1)

dFrame2 = dFrame1.drop(['Samridhi','Ramit','Riya'], axis=1)
print(dFrame2)

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99
         Arnab  Ramit  Samridhi  Riya  Mallika  preeti
Maths       71     92        89    80       94      89
Science     81     81        91    80       95      90
Hindi       91     96        88    80       99      91
         Arnab  Mallika  preeti
Maths       71       94      89
Science     81       95      90
Hindi       91       99      91