In [1]:
import re 

text = "123-456-7890"
patternCap = r'(\d{3})-(\d{3})-(\d{4})'
#whatever inside the capturing group will be part of the result
print(re.findall(patternCap, text))

[('123', '456', '7890')]

In [2]:
#but whatever inside the non-capturing group will not be part of the result 
patternNonCap = r'(?:\d{3})-(\d{3})-(\d{4})'
print(re.findall(patternNonCap, text))

[('456', '7890')]

In [4]:
import re

text = "The quick brown fox jumps over the lazy DOG."

# re.search(): Finds the first occurrence of a pattern anywhere in the string.
match1 = re.search(r"fox", text)

print(match1)
if match1:
    print(f"Found '{match1.group()}', starting index: {match1.start()} and ending index: {match1.end()}")



match2 = re.search(r"dog", text, re.I)
if match2:
    print(f"Found '{match2.group()}', starting index: {match2.start()} and ending index: {match2.end()}")



match3 = re.search(r"LAZY", text)
if match3:
    print(f"Found 'LAZY', starting index: {match3.start()} and ending index: {match3.end()}")
else:
    print("Not found LAZY, try with Lazy or lazy")

<re.Match object; span=(16, 19), match='fox'>
Found 'fox', starting index: 16 and ending index: 19
Found 'DOG', starting index: 40 and ending index: 43
Not found LAZY, try with Lazy or lazy

In [5]:
import re

text = "hello world"
pattern = r"hello"

match_obj = re.match(pattern, text)
if match_obj:
    print(f"Match found: {match_obj.group()}")
else:
    print("No match found.")

Match found: hello

In [6]:
pattern_no_start = r"world"

match_obj_no_start = re.match(pattern_no_start, text)
if match_obj_no_start:
    print(f"Match found: {match_obj_no_start.group()}")
else:
    print("No match found for 'world' at the beginning.")

No match found for 'world' at the beginning.

In [7]:
import re

s = """apple,banana;orange grapes
Potato,Tomato,Cluster-beans"""

# Split by commas, semicolons, or spaces
result = re.split(r"[,;\s]+", s)
print(result)

['apple', 'banana', 'orange', 'grapes', 'Potato', 'Tomato', 'Cluster-beans']

In [8]:
# Split by commas, semicolons, or spaces
result = re.split(r"[,;\s]+", s, maxsplit = 3)
print(result)

['apple', 'banana', 'orange', 'grapes\nPotato,Tomato,Cluster-beans']

In [9]:
import re

text = """line One
line Second Two
line Three"""

pattern = r"^line" 

matches_default = re.findall(pattern, text)
print(f"Matches without MULTILINE: {matches_default}")

Matches without MULTILINE: ['line']

In [10]:
matches_multiline = re.findall(pattern, text, flags=re.MULTILINE)
print(f"Matches with MULTILINE: {matches_multiline}")

Matches with MULTILINE: ['line', 'line', 'line']

In [11]:
import re

text = "apple orange apple banana"
pattern = "apple"
replacement = "grape"

# Replace all occurrences
result_all = re.sub(pattern, replacement, text)
print(f"Replacing all: {result_all}")

Replacing all: grape orange grape banana

In [12]:
result_one = re.sub(pattern, replacement, text, count=1)
print(f"Replacing first: {result_one}")

Replacing first: grape orange apple banana

In [15]:
text1 = "chitkara university is a university in patiala."
text2 = "The chitkara university is near village jhansla"
pattern = "chitkara university"
p = re.compile(pattern)
#print(type(p))
m = p.match(text1)
print(m.group(), m.start(), m.end())
print(p.findall(text1))
print(p.sub("abc", text1))

chitkara university 0 19
['chitkara university']
abc is a university in patiala.