In [4]:
import pandas as pd
import numpy as np
s1 = pd.Series([10, 20, np.nan, 'pavan', 40], index=['A', 'B', 'C', 'D', 'E'])
print(s1)

A       10
B       20
C      NaN
D    pavan
E       40
dtype: object

In [5]:

s = pd.Series([100, 200, 300])
s.name = "Salary"
print(s)
s.index.name = "EmpID"
print(s)
print(s.values)
print(s.size)

empty_series = pd.Series([])
print(empty_series.empty)  # True
print(s.empty)             # False

0    100
1    200
2    300
Name: Salary, dtype: int64
EmpID
0    100
1    200
2    300
Name: Salary, dtype: int64
[100 200 300]
3
True
False

In [6]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_default = s1 + s2
print("s1 + s2 (default NaN handling):\n", add_default)

s1 + s2 (default NaN handling):
 A     NaN
B    21.0
C     NaN
D    43.0
E     NaN
F     NaN
dtype: float64

In [7]:
add_filled = s1.add(s2, fill_value=0)
print("\ns1 + s2 (with fill_value=0):\n", add_filled)

s1 + s2 (with fill_value=0):
 A    10.0
B    21.0
C     2.0
D    43.0
E     4.0
F     5.0
dtype: float64

In [14]:
# print(np.append([[1, 2, 3], [4, 5, 6]], [7, 8, 9], axis=1))
import pandas as pd
dFrameEmt = pd.DataFrame()
print(dFrameEmt)

array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30, -40])
dFrame2 = pd.DataFrame([array1, array3, array2], columns=[ 'A', 'B', 'C', 'D'])
print(dFrame2)
print(dFrame2.dtypes)

Empty DataFrame
Columns: []
Index: []
     A    B    C     D
0   10   20   30   NaN
1  -10  -20  -30 -40.0
2  100  200  300   NaN
A      int64
B      int64
C      int64
D    float64
dtype: object

In [18]:
seriesA = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000], index = ['a', 'b', 'c', 'd', 'e'])
seriesC = pd.Series([10,20,-10,-50,100], index = ['z', 'y', 'a', 'c', 'e'])
dFrame6 = pd.DataFrame([seriesA, seriesB, seriesC])
print(dFrame6.dtypes)
print()

a    float64
b    float64
c    float64
d    float64
e    float64
z    float64
y    float64
dtype: object

    A   B   C   D
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN
A    float64
B    float64
C    float64
D    float64
dtype: object

In [19]:
array1 = [10, 20, 30]
array2 = [100, 200, 300]
array3 = [-10, -20, -30, -40]

df = pd.DataFrame([array1, array3, array2], columns=['A', 'B', 'C', 'D'])
print(df)

     A    B    C     D
0   10   20   30   NaN
1  -10  -20  -30 -40.0
2  100  200  300   NaN

In [23]:
array1 = pd.Series([10,20,30],  index = ['a', 'b', 'c'])
array2 = pd.Series([100,200,300], index = ['a', 'b', 'c'])
array3 = pd.Series([-10,-20,-30, -40], index = ['a', 'b', 'c', 'e'])
dFrame2 = pd.DataFrame([array1, array3, array2])
print(dFrame2)
print(dFrame2.dtypes)

       a      b      c     e
0   10.0   20.0   30.0   NaN
1  -10.0  -20.0  -30.0 -40.0
2  100.0  200.0  300.0   NaN
a    float64
b    float64
c    float64
e    float64
dtype: object

In [24]:

ResultSheet={
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame7 = pd.DataFrame(ResultSheet)
print(dFrame7)

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99

In [25]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, np.nan, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

print("df.index →", df.index)
print()
print("df.columns →", df.columns)
print()
print("df.dtypes →\n", df.dtypes)
print()
print("df.values →\n", df.values)
print()
print("df.shape →", df.shape)
print()
print("df.empty →", df.empty)
print()
print("df.size →", df.size)
print()
print("df.T →\n", df.T)

      Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London
df.index → RangeIndex(start=0, stop=3, step=1)

df.columns → Index(['Name', 'Age', 'City'], dtype='object')

df.dtypes →
 Name     object
Age     float64
City     object
dtype: object

df.values →
 [['Alice' 25.0 'New York']
 ['Bob' nan 'Paris']
 ['Charlie' 35.0 'London']]

df.shape → (3, 3)

df.empty → False

df.size → 9

df.T →
              0      1        2
Name     Alice    Bob  Charlie
Age       25.0    NaN     35.0
City  New York  Paris   London

In [27]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 28, 30],
    'City': ['New York', 'Paris', 'London', np.nan, 'Berlin']
}

df = pd.DataFrame(data)
print(df)

print("First 3 rows (head(3)):\n", df.head(3))
print("\nLast 2 rows (tail(2)):\n", df.tail(2))
print("\nNon-NaN counts (count()):\n", df.count())

      Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London
3    David  28.0       NaN
4      Eva  30.0    Berlin
First 3 rows (head(3)):
       Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London

Last 2 rows (tail(2)):
     Name   Age    City
3  David  28.0     NaN
4    Eva  30.0  Berlin

Non-NaN counts (count()):
 Name    5
Age     4
City    4
dtype: int64

In [29]:
import numpy as np
ar_1 = np.array([10, np.nan, 20, 30, 40])
print(ar_1)
print(ar_1.dtype)

[10. nan 20. 30. 40.]
float64

In [30]:
ar_2 = np.array(['Google', np.nan, 'Meta', 'Amazon', 'Apple'])
print(ar_2)
print(ar_2.dtype)

['Google' 'nan' 'Meta' 'Amazon' 'Apple']
<U32