In [40]:
import numpy as np
import pandas as pd

ResultSheet={
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame1 = pd.DataFrame(ResultSheet)
print(dFrame1)

dFrame1["preeti"] = [89, 90, 91]
print(dFrame1)
dFrame1.insert(1, "Jayesh", np.array([90, 95, 100]))
print(dFrame1)
dFrame1["Arnab"] = [71, 81, 91]
dFrame1["Riya"] = 80
print(dFrame1)
dFrame1.loc['English'] = [85, 86, 83, 80, 90, 89, 90]
print(dFrame1)
dFrame1 = dFrame1.rename({'Maths':'Sub1', 'Science':'Sub2','English':'Sub3', 'Hindi':'Sub4'}, axis='index')
dFrame1 = dFrame1.rename({'Arnab':'ST-01', 'Mallika':'ST-02'}, axis='columns')
print(dFrame1)

dFrame1 = dFrame1.drop('Ramit', axis=1)
print(dFrame1)

del dFrame1['ST-01']
print(dFrame1)

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99
         Arnab  Ramit  Samridhi  Riya  Mallika  preeti
Maths       90     92        89    81       94      89
Science     91     81        91    71       95      90
Hindi       97     96        88    67       99      91
         Arnab  Jayesh  Ramit  Samridhi  Riya  Mallika  preeti
Maths       90      90     92        89    81       94      89
Science     91      95     81        91    71       95      90
Hindi       97     100     96        88    67       99      91
         Arnab  Jayesh  Ramit  Samridhi  Riya  Mallika  preeti
Maths       71      90     92        89    80       94      89
Science     81      95     81        91    80       95      90
Hindi       91     100     96        88    80       99      91
         Arnab  Jayesh  Ramit  Samridhi  Riya  Mallika  preeti
Maths       71      90     92        89    80       94      89
Science     81      95     81        91    80       95      90
Hindi       91     100     96        88    80       99      91
English     85      86     83        80    90       89      90
      ST-01  Jayesh  Ramit  Samridhi  Riya  ST-02  preeti
Sub1     71      90     92        89    80     94      89
Sub2     81      95     81        91    80     95      90
Sub4     91     100     96        88    80     99      91
Sub3     85      86     83        80    90     89      90
      ST-01  Jayesh  Samridhi  Riya  ST-02  preeti
Sub1     71      90        89    80     94      89
Sub2     81      95        91    80     95      90
Sub4     91     100        88    80     99      91
Sub3     85      86        80    90     89      90
      Jayesh  Samridhi  Riya  ST-02  preeti
Sub1      90        89    80     94      89
Sub2      95        91    80     95      90
Sub4     100        88    80     99      91
Sub3      86        80    90     89      90

In [16]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [5, 6, 7], 'C': [8, 9, 10]})
print("Id of original dataframe",id(df))
print(df)

df.drop('B',inplace = True, axis = 1)
print("Id of modified dataframe",id(df))
print(df)

Id of original dataframe 2543317943744
   A  B   C
0  1  5   8
1  2  6   9
2  3  7  10
Id of modified dataframe 2543317943744
   A   C
0  1   8
1  2   9
2  3  10

In [17]:
help(pd.DataFrame.drop)

Help on function drop in module pandas.core.frame:

drop(self, labels: 'IndexLabel | None' = None, *, axis: 'Axis' = 0, index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, level: 'Level | None' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None'
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by directly specifying index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the :ref:`user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        in place and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        Returns DataFrame or None DataFrame with the specified
        index or column labels removed or None if inplace=True.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    llama   speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [22]:
arr1 = np.array([10,20,30])
print(arr1)
print(arr1.dtype)

[10 20 30]
int64

In [23]:
arr1 = pd.Series([10,20,30,np.nan], dtype='Int64')
print(arr1)
print(arr1.dtype)

0      10
1      20
2      30
3    <NA>
dtype: Int64
Int64

In [24]:
arr1 = np.array(['a', 'b', 'c', np.nan])
print(arr1)
print(arr1.dtype)

['a' 'b' 'c' 'nan']
<U32

In [26]:
arr1 = pd.Series(['a', 'b', 'c', np.nan], dtype='string')
print(arr1)
print(arr1.dtype)

0       a
1       b
2       c
3    <NA>
dtype: string
string

In [28]:
series_4 = pd.Series([True, False, True, np.nan], dtype="boolean")
#is same as series_4 = pd.Series([True, False, True, np.nan], dtype = pd.BooleanDtype())
print(series_4)

0     True
1    False
2     True
3      NaN
dtype: object

In [34]:
ser = pd.Series([2,np.nan, 3, np.nan])
print(ser, end = '\n\n')

print(ser.cumsum(skipna = False), end = '\n\n')

0    2.0
1    NaN
2    3.0
3    NaN
dtype: float64

0    2.0
1    NaN
2    NaN
3    NaN
dtype: float64

In [37]:
df = pd.DataFrame([[np.nan, 1, 2], [1, 2, np.nan], [1, 2, 3]])
print(df, end = '\n\n')
df1 = df.dropna(axis=1)
print(df1, end = '\n\n')

     0  1    2
0  NaN  1  2.0
1  1.0  2  NaN
2  1.0  2  3.0

   1
0  1
1  2
2  2

In [45]:
dFrame3 = pd.DataFrame(
  {
    'A': [1, 2],
    'B': [3, 4]
  }, index=['row1', 'row2']
)

dFrame4 = pd.DataFrame(
  {
    'B': [5, 6],
    'C': [7, 8]
  }, index=['row2', 'row3']
)

print("DataFrame 1:\n", dFrame3, "\n")
print("DataFrame 2:\n", dFrame4, "\n")
print()
dFrame3_aligned, dFrame4_aligned = dFrame3.align(dFrame4, join='outer')
print("Aligned dFrame3:\n", dFrame3_aligned, "\n")
print("Aligned dFrame4:\n", dFrame4_aligned, "\n")
print()
dFrame3_aligned, dFrame4_aligned = dFrame3.align(dFrame4, join='inner')
print("Aligned dFrame3:\n", dFrame3_aligned, "\n")
print("Aligned dFrame4:\n", dFrame4_aligned, "\n")

DataFrame 1:
       A  B
row1  1  3
row2  2  4

DataFrame 2:
       B  C
row2  5  7
row3  6  8


Aligned dFrame3:
         A    B   C
row1  1.0  3.0 NaN
row2  2.0  4.0 NaN
row3  NaN  NaN NaN

Aligned dFrame4:
        A    B    C
row1 NaN  NaN  NaN
row2 NaN  5.0  7.0
row3 NaN  6.0  8.0


Aligned dFrame3:
       B
row2  4

Aligned dFrame4:
       B
row2  5

In [48]:
ser_1 = pd.Series([1, 2, 3])
print(ser_1)
print(ser_1.mean())

0    1
1    2
2    3
dtype: int64
2.0

In [50]:
dFrame8 = pd.DataFrame(
  {
    'a': [1, 2, 3],
    'b': [2, 3, 4],
    'c': [1, 3, 5]
  },
  index=['tiger', 'zebra', 'cow']
)
dFrame8.skew()
dFrame8.skew(axis=1)

tiger    1.732051
zebra   -1.732051
cow      0.000000
dtype: float64