In [1]:
import numpy as np
import pandas as pd
import os

df4 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df5 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
pd.merge(df4, df5)

     a  b  c
0  foo  1  3

In [5]:
dFrame1 = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [np.nan, np.nan, np.nan]
  ],
  columns=['A', 'B', 'C']
)
print("Original DataFrame is\n", dFrame1, sep = "")
print(dFrame1.agg('sum'))

Original DataFrame is
     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN
A    12.0
B    15.0
C    18.0
dtype: float64

In [8]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

dFrame1 = pd.DataFrame(data)
dFrame1.to_csv('students.csv', index = False)
print("Check the", os.getcwd(), "for the file students.csv" )

Check the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G9\Day14\demo for the file students.csv

In [9]:
dFrame2 = pd.read_csv('students.csv')
print("The dataframe read from the student.csv is\n",dFrame2, sep = "")

The dataframe read from the student.csv is
      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [6]:
data = {
    'CustomerID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 35, 40],  # Include a NaN value
    'City': ['Delhi', 'Mumbai', 'Chennai', None],  # None to simulate a missing value
    'Spending': [2500.5, 1800.0, 3200.0, 1500.0]
}

dFrame3 = pd.DataFrame(data)
print(dFrame3)

dFrame3.to_csv('customers.csv', index = False)
print("Check the", os.getcwd(), "for the file customers.csv, especially take care for the missing value" )

   CustomerID     Name   Age     City  Spending
0         101    Alice  25.0    Delhi    2500.5
1         102      Bob   NaN   Mumbai    1800.0
2         103  Charlie  35.0  Chennai    3200.0
3         104    David  40.0     None    1500.0
Check the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G9\Day14\demo for the file customers.csv, especially take care for the missing value

In [2]:
dFrame4 = pd.read_csv('customers.csv',  on_bad_lines = 'skip')
print(dFrame4)

   CustomerID     Name   Age     City  Spending
0         101    Alice  25.0    Delhi    2500.5
1         102      Bob   NaN   Mumbai    1800.0
2         103  Charlie  35.0  Chennai    3200.0
3         104    David  40.0      NaN    1500.0
4         105    pavan  20.0      NaN       NaN

In [3]:
print("\nThe data type for every column is\n", dFrame4.dtypes, sep = "")

The data type for every column is
CustomerID      int64
Name           object
Age           float64
City           object
Spending      float64
dtype: object

In [4]:
dFrame4 = dFrame4.astype(
    {
        'CustomerID': 'Int64',
        'Name': 'string',
        'Age': 'Int64',
        'City': 'string',
        'Spending': 'Float64'
    }
)

In [5]:
print("\nThe dataframe read from the customers after changing the datatype is\n",dFrame4, sep = "")
print("\nThe data type for every column is\n", dFrame4.dtypes, sep = "")

The dataframe read from the customers after changing the datatype is
   CustomerID     Name   Age     City  Spending
0         101    Alice    25    Delhi    2500.5
1         102      Bob  <NA>   Mumbai    1800.0
2         103  Charlie    35  Chennai    3200.0
3         104    David    40     <NA>    1500.0
4         105    pavan    20     <NA>      <NA>

The data type for every column is
CustomerID             Int64
Name          string[python]
Age                    Int64
City          string[python]
Spending             Float64
dtype: object

In [6]:
import sqlalchemy
import pymysql

print(sqlalchemy.__version__)
print(pymysql.__version__)

2.0.42
1.4.6

In [13]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Pavan%40123@localhost:3306/data_analytics_g10")

df = pd.read_sql("student", con = engine)
print("Data from 'student' table")
print(df)
engine.dispose()

Data from 'student' table
   rollNo name       email  x_per        state
0       1  ABC  abc@ms.com  77.42    Karnataka
1       2  BCD  bcd@ms.com  33.00    Rajasthan
2       3  CDE  cde@ms.com  77.24  Maharashtra
3       4  def  def@ms.com  66.00       Kerala
4       8  ijk  ijk@ms.com  79.36      Haryana
5      10  AED        None  56.00    Karnataka
6      11  RTY  rty@ms.com  92.50       Punjab
7      12  UYT  uty@ms.com  89.00    Rajasthan

In [12]:
engine = create_engine("mysql+pymysql://root:Pavan%40123@localhost:3306/data_analytics_g10")

new_students = pd.DataFrame(
  {
    'rollNo': [11, 12],
    'name': ['RTY', 'UYT'],
    'email': ['rty@ms.com', 'uty@ms.com'],
    'x_per': [92.5, 89.0],
    'state': ['Punjab', 'Rajasthan']
  }
)

new_students.to_sql('student', con=engine, if_exists='append', index=False)
print("New records added successfully.")
engine.dispose()

New records added successfully.

In [17]:
dFrame1 = pd.DataFrame(
  {
      'Name': ['Nehal', 'Nayan', 'Neeraj'],
      'Age': [28, 24, 35],
      'City': ['Jalandhar', 'Jaipur', 'Jodhpur']
  }
)
#json_1 = dFrame1.to_json() # will print the data in the ugly format
#json_1 = dFrame1.to_json(indent = 4, orient = 'split') #it will print the data in better formatting
#split is default value for orient no need to write 
json_1 = dFrame1.to_json(indent = 4)
print(json_1)

{
    "Name":{
        "0":"Nehal",
        "1":"Nayan",
        "2":"Neeraj"
    },
    "Age":{
        "0":28,
        "1":24,
        "2":35
    },
    "City":{
        "0":"Jalandhar",
        "1":"Jaipur",
        "2":"Jodhpur"
    }
}

In [19]:

import os
json_object_1 = dFrame1.to_json()
with open('student.json', 'w') as json_file:
    json_file.write(json_object_1)
print("Check the student.json file in the", os.getcwd()," directory")

Check the student.json file in the C:\Users\pavan\OneDrive\Desktop\Data_Analytics\G9\Day14\demo  directory

In [20]:
with open('student.json', 'r') as json_file:
    dFrame2 = pd.read_json(json_file)
    print(dFrame2)

     Name  Age       City
0   Nehal   28  Jalandhar
1   Nayan   24     Jaipur
2  Neeraj   35    Jodhpur

In [21]:
data = [
    {
      "id": 1,
      "name": {
        "first": "Coleen",
        "last": "Volk"
        }
    },
    {
      "name": {
        "given": "Mark",
        "family": "Regner"
      }
    },
    {
      "id": 2,
      "name": "Faye Raker"
    },
]

print(pd.json_normalize(data))

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker