In [3]:
import pandas as pd
import numpy as np
arr = np.array([10,20,30])
print(arr)
series1 = pd.Series([10,20,30])
print(series1)

[10 20 30]
0    10
1    20
2    30
dtype: int64

In [4]:
array1 = np.arange(10, 31, 5)
print(array1)
series2 = pd.Series(array1)
print(series2)

[10 15 20 25 30]
0    10
1    15
2    20
3    25
4    30
dtype: int64

In [5]:
dict1 = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
print(dict1)
series4 = pd.Series(dict1)
print(series4)

{'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [8]:
series3 = pd.Series(["Kavi", "Shyam", "Ravi"], index=['A', 'B','C'])
print(series3)

A     Kavi
B    Shyam
C     Ravi
dtype: object

In [18]:
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])

# country_cap_series.index = [10, 20, 30, 40]
# print(country_cap_series)
# print(country_cap_series[1:3])
# print()
print(country_cap_series['USA':'France'])

USA       WashingtonDC
UK              London
France           Paris
dtype: object

In [19]:
seriesAlph = pd.Series(np.arange(10, 16, 1), index = ['a', 'b', 'c', 'd', 'e', 'f'])
seriesAlph[1:3] = 50
print(seriesAlph)

a    10
b    50
c    50
d    13
e    14
f    15
dtype: int64

In [24]:
import pandas as pd
s = pd.Series([100, 200, 300])
s.name = "Salary"
print(s)
s.index.name = "EmpID"
print(s)
print(s.empty)

0    100
1    200
2    300
Name: Salary, dtype: int64
EmpID
0    100
1    200
2    300
Name: Salary, dtype: int64
False

In [28]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

print("First 2 elements of s1 (head(2)):\n", s1.head(2))
print("\nLast 3 elements of s2 (tail(3)):\n", s2.tail())
print("\nNumber of non-NaN values in s1 (count()):", s1.count())

First 2 elements of s1 (head(2)):
 A    10.0
B    20.0
dtype: float64

Last 3 elements of s2 (tail(3)):
 B    1
C    2
D    3
E    4
F    5
dtype: int64

Number of non-NaN values in s1 (count()): 3

In [30]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_default = s1 + s2
print("s1 + s2 (default NaN handling):\n", add_default)
add_filled = s1.add(s2, fill_value=0)
print("\ns1 + s2 (with fill_value=0):\n", add_filled)

s1 + s2 (default NaN handling):
 A     NaN
B    21.0
C     NaN
D    43.0
E     NaN
F     NaN
dtype: float64

s1 + s2 (with fill_value=0):
 A    10.0
B    21.0
C     2.0
D    43.0
E     4.0
F     5.0
dtype: float64

In [31]:
values = [('Arthur', 1.8, 41), ('Lancelot', 1.9, 38), ('Galahad', 1.7, 38)]


dtype = [('name', 'U10'), ('height', float), ('age', int)]


ar_5 = np.array(values, dtype=dtype)
print(ar_5, end = '\n\n')

[('Arthur', 1.8, 41) ('Lancelot', 1.9, 38) ('Galahad', 1.7, 38)]