In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [5, 6, 7], 'C': [8, 9, 10]})
print("Id of original dataframe",id(df))
print(df)

df.drop('B',inplace = True,  axis = 1)
print("Id of modified dataframe",id(df))
print(df)

Id of original dataframe 2157053582352
   A  B   C
0  1  5   8
1  2  6   9
2  3  7  10
Id of modified dataframe 2157053582352
   A   C
0  1   8
1  2   9
2  3  10

In [7]:
ar_1 = np.array([10, np.nan, 20, 30, 40])
print(ar_1)
print(ar_1.dtype)

# float, object

[10. nan 20. 30. 40.]
float64

In [8]:
ar_1 = np.array(['a', np.nan, 'b', 'c', 'd'])
print(ar_1)
print(ar_1.dtype)

['a' 'nan' 'b' 'c' 'd']
<U32

In [11]:
ar_1 = pd.Series([10, np.nan, 20, 30, 40], dtype="Int64")
print(ar_1)
print(ar_1.dtype)

0      10
1    <NA>
2      20
3      30
4      40
dtype: Int64
Int64

In [14]:
ar_1 = pd.Series(['a', np.nan, 'b', 'c', 'd'], dtype='string')
print(ar_1)
print(ar_1.dtype)

0       a
1    <NA>
2       b
3       c
4       d
dtype: string
string

In [15]:
ser = pd.Series([True, False], dtype="boolean")
ser.iloc[0] = None
print(ser)

0     <NA>
1    False
dtype: boolean

In [19]:
ser = pd.Series([2, np.nan, 3, np.nan])
print(ser, end = '\n\n')
print(ser.cumsum(), end = '\n\n')
print(ser.cumsum(skipna = False))

0    2.0
1    NaN
2    3.0
3    NaN
dtype: float64

0    2.0
1    NaN
2    5.0
3    NaN
dtype: float64

0    2.0
1    NaN
2    NaN
3    NaN
dtype: float64

In [22]:
df = pd.DataFrame([[np.nan, 1, 2], [1, 2, np.nan], [1, 2, 3]])
print(df, end = '\n\n')
df1 = df.dropna(axis =1)
print(df1, end = '\n\n')

     0  1    2
0  NaN  1  2.0
1  1.0  2  NaN
2  1.0  2  3.0

   1
0  1
1  2
2  2

In [25]:
data = {"np": [1.0, np.nan, np.nan, 2], "arrow": pd.array([1.0, pd.NA, pd.NA, 2], dtype="Float64")}
df = pd.DataFrame(data)
print(df, end = '\n\n')
# print(df.fillna(0))

print(df.ffill(), end = '\n\n')
print(df.bfill())

    np  arrow
0  1.0    1.0
1  NaN   <NA>
2  NaN   <NA>
3  2.0    2.0

    np  arrow
0  1.0    1.0
1  1.0    1.0
2  1.0    1.0
3  2.0    2.0

    np  arrow
0  1.0    1.0
1  2.0    2.0
2  2.0    2.0
3  2.0    2.0

In [28]:

dFrame1 = pd.DataFrame(
  {
    'angles': [0, 3, 4],
    'degrees': [360, 180, 360]
  },
  index=['circle', 'triangle', 'rectangle']
)
print(dFrame1)
print(dFrame1 + 1)
# print(dFrame1.add(1))

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [33]:
dFrame2 = pd.DataFrame(
  {
    'A': pd.Series([0, 3, 4, np.nan], dtype = 'Int64', index=['R1', 'R2', 'R3', 'R4']),
    'B': pd.Series([360, 180, 360, np.nan], dtype = 'Float64', index=['R1', 'R2', 'R3', 'R4'])
  }
)
print(dFrame2)
# print(dFrame2 + 1)
# print(dFrame2.add(1, fill_value = 0))
# print(dFrame2 + [10, 20])
print(dFrame2.add(pd.Series([10, 20, 30, 40], index = ["R1", "R2", "R3", "R4"]), axis = 0))

       A      B
R1     0  360.0
R2     3  180.0
R3     4  360.0
R4  <NA>   <NA>
       A      B
R1    10  370.0
R2    23  200.0
R3    34  390.0
R4  <NA>   <NA>

In [36]:
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])
print(country_cap_series['India'])
print(country_cap_series.iloc[0])
print(country_cap_series.iloc[1:3])

NewDelhi
NewDelhi