In [4]:
import numpy as np
import pandas as pd

s1 = np.array(['a', 'b', 'c', np.nan])
print(s1)
print(s1.dtype)

s2 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
print(s2)
print(s2.dtype)

['a' 'b' 'c' 'nan']
<U32
A    10.0
B    20.0
C     NaN
D    40.0
dtype: float64
float64

In [6]:
ar_3 = np.array([np.nan, {'name': 'Google'}, 123])
print(ar_3)
print(ar_3.dtype)
ar_4 = np.array([1, np.nan, 4, 8, 13])
print(np.isnan(ar_4))

[nan {'name': 'Google'} 123]
object
[False  True False False False]

In [7]:
ar_5 = np.array(["Alice", "Bob", None])
print(ar_5)
print(ar_5.dtype)

['Alice' 'Bob' None]
object

In [8]:

dFrameEmt = pd.DataFrame()
print(dFrameEmt)

Empty DataFrame
Columns: []
Index: []

In [9]:
array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30, -40])
dFrame2 = pd.DataFrame([array1, array3, array2], columns=[ 'A', 'B', 'C', 'D'])
print(dFrame2)

     A    B    C     D
0   10   20   30   NaN
1  -10  -20  -30 -40.0
2  100  200  300   NaN

In [10]:
listDict = [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20}]
dFrame3 = pd.DataFrame(listDict)
print(dFrame3)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [12]:

dictForest = {'State': ['Assam', 'Delhi', 'Kerala'], 'GArea': [78438, 1483, 38852] ,'VDF' : [2797, 6.72,1663]}
dFrame4 = pd.DataFrame(dictForest, columns = ['State','VDF', 'GArea'])
print(dFrame4)

    State      VDF  GArea
0   Assam  2797.00  78438
1   Delhi     6.72   1483
2  Kerala  1663.00  38852

In [13]:
seriesA = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000], index = ['a', 'b', 'c', 'd', 'e'])
seriesC = pd.Series([10,20,-10,-50,100], index = ['z', 'y', 'a', 'c', 'e'])
dFrame6 = pd.DataFrame([seriesA, seriesB, seriesC])
print(dFrame6)

        a       b       c       d       e     z     y
0     1.0     2.0     3.0     4.0     5.0   NaN   NaN
1  1000.0  2000.0 -1000.0 -5000.0  1000.0   NaN   NaN
2   -10.0     NaN   -50.0     NaN   100.0  10.0  20.0

In [14]:
ResultSheet={
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}

# x = {'a':10, 'b':20}
dFrame7 = pd.DataFrame(ResultSheet)
print(dFrame7)

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99

In [16]:
array_2D = [np.arange(1, 5, 1), np.arange(10, 6, -1), np.arange(15, 12, -1)]
dFrame8 = pd.DataFrame(array_2D,
                       index = ['R1', 'R2', 'R3'],
                       columns = ['C1', 'C2', 'C3', 'C4'])
print(dFrame8)
dFrame8.info()

    C1  C2  C3   C4
R1   1   2   3  4.0
R2  10   9   8  7.0
R3  15  14  13  NaN
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, R1 to R3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      3 non-null      int64
 1   C2      3 non-null      int64
 2   C3      3 non-null      int64
 3   C4      2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 120.0+ bytes

In [19]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, np.nan, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

# print("df.index :", df.index)
# print("df.columns :", df.columns)
# print("df.values :\n", df.values)
# print("df.T :\n", df.T)
print("df.dtypes :\n", df.dtypes)
print("\ndf.shape :", df.shape)
print("df.size :", df.size)
print("df.empty :", df.empty)

      Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London
df.dtypes :
 Name     object
Age     float64
City     object
dtype: object

df.shape : (3, 3)
df.size : 9
df.empty : False

In [34]:
ResultSheet = {
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame1 = pd.DataFrame(ResultSheet)
print(dFrame1)
# print(dFrame1.at['Maths', 'Samridhi'], end = '\n\n')
# print(dFrame1.iat[0, 2], end = '\n\n')
# print(dFrame1[['Arnab', 'Riya']])
# print(dFrame1.loc['Maths'])
# print(dFrame1.loc['Maths':'Hindi'])
# print(dFrame1.iloc[0:2])

# print(dFrame1.loc['Maths'] > 90)

# print(dFrame1.loc[[True, False, True]])


print(dFrame1.loc['Maths': 'Science', 'Arnab'])
print(dFrame1.loc['Maths': 'Science', 'Arnab':'Samridhi'])
print(dFrame1.loc['Maths': 'Science',['Arnab','Samridhi']])

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99
Maths      90
Science    91
Name: Arnab, dtype: int64
         Arnab  Ramit  Samridhi
Maths       90     92        89
Science     91     81        91
         Arnab  Samridhi
Maths       90        89
Science     91        91

In [37]:
series_4 = pd.Series([True, False, True])
#is same as series_4 = pd.Series([True, False, True, np.nan], dtype = pd.BooleanDtype())
print(series_4)

0     True
1    False
2     True
dtype: bool