In [2]:
import numpy as np
import pandas as pd

s1 = pd.Series(["agartala", None, "bathinda"], dtype="string")
print(s1.str.count("a"))
print(s1.dropna().str.count("a"))

0       4
1    <NA>
2       2
dtype: Int64
0    4
2    2
dtype: Int64

In [3]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string")
print(s.str.lower())

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: string

In [4]:
print(pd.Timestamp("2023-10-15 08:30:00"))

2023-10-15 08:30:00

In [5]:
print(pd.Period("2023-10", freq='M'))

2023-10

In [6]:
print(pd.date_range(start="2023-01-01", periods=3, freq='D'))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

In [11]:
dates = pd.date_range("2023-10-01", periods=3, freq='D')
temps = [22, 24, 19]
dFrame1 = pd.DataFrame({"Date": dates, "Temperature": temps})
print(dFrame1)

dFrame1["Yesterday"] = dFrame1["Temperature"].shift(1)  
print(dFrame1)

dFrame1 = dFrame1.set_index("Date")  # Now index is a DateTimeIndex!  
print(dFrame1)

oct_data = dFrame1.loc["2023-10"]  
print(oct_data)

        Date  Temperature
0 2023-10-01           22
1 2023-10-02           24
2 2023-10-03           19
        Date  Temperature  Yesterday
0 2023-10-01           22        NaN
1 2023-10-02           24       22.0
2 2023-10-03           19       24.0
            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0
2023-10-03           19       24.0
            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0
2023-10-03           19       24.0

In [12]:
date_range = dFrame1.loc["2023-10-01":"2023-10-02"]
print(date_range)

            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0

In [13]:
monthly_avg = dFrame1.resample("ME").mean()
print(monthly_avg["Temperature"])

Date
2023-10-31    21.666667
Freq: ME, Name: Temperature, dtype: float64

In [14]:
dFrame1["Hour"] = dFrame1.index.hour     
dFrame1["DayOfWeek"] = dFrame1.index.dayofweek  
print(dFrame1)

            Temperature  Yesterday  Hour  DayOfWeek
Date
2023-10-01           22        NaN     0          6
2023-10-02           24       22.0     0          0
2023-10-03           19       24.0     0          1

In [15]:
dates = pd.Series([pd.Timestamp("2023-10-01"), None, pd.Timestamp("2023-10-03")])
print(dates)

0   2023-10-01
1          NaT
2   2023-10-03
dtype: datetime64[ns]

In [16]:
print(pd.Timestamp("2023-10-01") + pd.NaT)  
print(pd.notna(pd.NaT))

NaT
False

In [17]:
print(pd.Timedelta("2 days 3 hours 30 minutes"))

2 days 03:30:00

In [18]:
print(pd.Timedelta(days=1.5))
print(pd.Timedelta(weeks=1, hours=5))

1 days 12:00:00
7 days 05:00:00

In [19]:
print(pd.Timedelta("P1DT2H10M"))

1 days 02:10:00

In [21]:

print(type(pd.NaT))
print(type(np.datetime64('NaT')))

<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'numpy.datetime64'>

In [22]:
pd_td = pd.Timedelta("2 days 3:30:15")
print(pd_td)

py_td = pd_td.to_pytimedelta()
print(py_td)
print(type(py_td))

2 days 03:30:15
2 days, 3:30:15
<class 'datetime.timedelta'>

In [24]:
from datetime import timedelta
py_td = timedelta(days=1, hours=5, minutes=30)
print(py_td)

pd_td = pd.Timedelta(py_td)
print(pd_td)
print(type(pd_td))

1 day, 5:30:00
1 days 05:30:00
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [25]:
pd_td = pd.Timedelta("3 hours 45 minutes")
print(pd_td)

np_td = pd_td.to_timedelta64()
print(np_td)
print(type(np_td))

0 days 03:45:00
13500000000000 nanoseconds
<class 'numpy.timedelta64'>

In [26]:
np_td = np.timedelta64(2, 'D')
print(np_td)

pd_td = pd.Timedelta(np_td)
print(pd_td)
print(type(pd_td))

2 days
2 days 00:00:00
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [29]:
timestamp = pd.Timestamp("2023-10-01")
print(timestamp)
print(timestamp + pd.Timedelta(hours=6))
print(pd.Timestamp("2023-10-03") - timestamp)

2023-10-01 00:00:00
2023-10-01 06:00:00
2 days 00:00:00

In [30]:
td = pd.Timedelta("2 hours")
print(td * 3)
print(td / 2)

0 days 06:00:00
0 days 01:00:00

In [31]:
td = pd.Timedelta("3 hours 29 min 45 sec")
print(td.round("h"))
print(td.round("15min"))

0 days 03:00:00
0 days 03:30:00