In [2]:
import pandas as pd
import numpy as np
series1 = pd.Series([10,20,30])
print(series1)
series3 = pd.Series(["Kavi", "Shyam", "Ravi"], index=[3, 5,1])
print(series3)

0    10
1    20
2    30
dtype: int64
3     Kavi
5    Shyam
1     Ravi
dtype: object

In [3]:
dict1 = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
series5 = pd.Series(dict1)
print(series5)

India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [13]:
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])
print(country_cap_series['India'])
#print(country_cap_series[‘Uganda’])
print(country_cap_series.iloc[0])
print(country_cap_series['USA':'France'])
print(country_cap_series[['UK','USA']])
country_cap_series.index = [10, 20, 30, 40]
print(country_cap_series)
country_cap_series.index = ['India', 'USA', 'UK', 'France']
print(country_cap_series[1: 3])
country_cap_series['USA' : 'France'] = 'abc'
print(country_cap_series)

NewDelhi
NewDelhi
USA       WashingtonDC
UK              London
France           Paris
dtype: object
UK           London
USA    WashingtonDC
dtype: object
10        NewDelhi
20    WashingtonDC
30          London
40           Paris
dtype: object
USA    WashingtonDC
UK           London
dtype: object
India     NewDelhi
USA            abc
UK             abc
France         abc
dtype: object

In [18]:

s = pd.Series([100, 200, 300])
s.name = "Salary"
print(s)
s.index.name = "EmpID"
print(s)

empty_series = pd.Series([])
print(s.empty)

0    100
1    200
2    300
Name: Salary, dtype: int64
EmpID
0    100
1    200
2    300
Name: Salary, dtype: int64
False

In [21]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

print("First 2 elements of s1 (head(2)):\n", s1.head(2))
print("\nLast 3 elements of s2 (tail(3)):\n", s2.tail(3))
print(s1.count())

First 2 elements of s1 (head(2)):
 A    10.0
B    20.0
dtype: float64

Last 3 elements of s2 (tail(3)):
 D    3
E    4
F    5
dtype: int64
3

In [24]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_default = s1 + s2
print("s1 + s2 (default NaN handling):\n", add_default)
print()
add_filled = s1.add(s2, fill_value=2)
print("\ns1 + s2 (with fill_value=0):\n", add_filled)

s1 + s2 (default NaN handling):
 A     NaN
B    21.0
C     NaN
D    43.0
E     NaN
F     NaN
dtype: float64


s1 + s2 (with fill_value=0):
 A    12.0
B    21.0
C     4.0
D    43.0
E     6.0
F     7.0
dtype: float64

In [25]:

ar_1 = np.array([10, np.nan, 20, 30, 40])
print(ar_1)
print(ar_1.dtype)

[10. nan 20. 30. 40.]
float64

In [26]:
ar_2 = np.array(['Google', np.nan, 'Meta', 'Amazon', 'Apple'])
print(ar_2)
print(ar_2.dtype)

['Google' 'nan' 'Meta' 'Amazon' 'Apple']
<U32

In [27]:
ar_3 = np.array([np.nan, {'name': 'Google'}, 123])
print(ar_3)
print(ar_3.dtype)

[nan {'name': 'Google'} 123]
object

In [30]:
ar_4 = np.array([1, np.nan, 4, 8, 13])
print(np.isnan(ar_4))
print("The sum of all element is", np.sum(ar_4))
print("The maximum among of all element is", np.max(ar_4))
print("The minimum among of all element is", np.min(ar_4))
print()
print("The index of minimum among of all element is", np.argmin(ar_4))
print("The index of maximum among of all element is", np.argmax(ar_4))
print()
print("The sum of all element is", np.nansum(ar_4))
print("The maximum among of all element is", np.nanmax(ar_4))
print("The minimum among of all element is", np.nanmin(ar_4))
print()
print("The index of minimum among of all element is", np.nanargmin(ar_4))
print("The index of maximum among of all element is", np.nanargmax(ar_4))

[False  True False False False]
The sum of all element is nan
The maximum among of all element is nan
The minimum among of all element is nan

The index of minimum among of all element is 1
The index of maximum among of all element is 1

The sum of all element is 26.0
The maximum among of all element is 13.0
The minimum among of all element is 1.0

The index of minimum among of all element is 0
The index of maximum among of all element is 4

In [31]:
a = np.nan
b = np.nan
print(a == b)
print(a is b)

False
True

In [32]:
ar_5 = np.array(["Alice", "Bob", None])
print(ar_5)
print(ar_5.dtype)

['Alice' 'Bob' None]
object

In [ ]:
ar_6 = np.array([1, 2, 3, None])
#print(np.sum(ar_6)) 		
#print(np.nansum(ar_6))