In [2]:
import numpy as np
import pandas as pd

dict1 = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
series6 = pd.Series(dict1, index = ['India', 'UK', 'Japan', 'France'])
print(series6)


arr = series6 .to_numpy()
print(arr)
print(arr.dtype)

India     NewDelhi
UK          London
Japan        Tokyo
France         NaN
dtype: object
['NewDelhi' 'London' 'Tokyo' nan]
object

In [11]:
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])
print(country_cap_series.iloc[0])
print(country_cap_series[['UK','USA']])
print(country_cap_series[1: 3])

NewDelhi
UK           London
USA    WashingtonDC
dtype: object
USA    WashingtonDC
UK           London
dtype: object

In [12]:
seriesAlph = pd.Series(np.arange(10, 16, 1), index = ['a', 'b', 'c', 'd', 'e', 'f'])
seriesAlph[1:3] = 50
print(seriesAlph)

a    10
b    50
c    50
d    13
e    14
f    15
dtype: int64

In [13]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_default = s1 + s2
print("s1 + s2 (default NaN handling):\n", add_default)

s1 + s2 (default NaN handling):
 A     NaN
B    21.0
C     NaN
D    43.0
E     NaN
F     NaN
dtype: float64

In [15]:
import numpy as np
ar_1 = np.array([10, np.nan, 20, 30, 40])
print(ar_1)
print(ar_1.dtype)
ar_2 = np.array(['Google', np.nan, 'Meta', 'Amazon', 'Apple'])
print(ar_2)
print(ar_2.dtype)
ar_3 = np.array([np.nan, {'name': 'Google'}, 123])
print(ar_3)
print(ar_3.dtype)

[10. nan 20. 30. 40.]
float64
['Google' 'nan' 'Meta' 'Amazon' 'Apple']
<U32
[nan {'name': 'Google'} 123]
object

In [18]:
ar_4 = np.array([1, np.nan, 4, 8, 13])
# print("The sum of all element is", np.sum(ar_4))
# print("The maximum among of all element is", np.max(ar_4))
# print("The minimum among of all element is", np.min(ar_4))
# print()
# print("The index of minimum among of all element is", np.argmin(ar_4))
# print("The index of maximum among of all element is", np.argmax(ar_4))
print("The sum of all element is", np.nansum(ar_4))
print("The maximum among of all element is", np.nanmax(ar_4))
print("The minimum among of all element is", np.nanmin(ar_4))
print()
print("The index of minimum among of all element is", np.nanargmin(ar_4))
print("The index of maximum among of all element is", np.nanargmax(ar_4))

The sum of all element is 26.0
The maximum among of all element is 13.0
The minimum among of all element is 1.0

The index of minimum among of all element is 0
The index of maximum among of all element is 4

In [19]:
a = np.nan
b = np.nan
print(a == b)
print(a is b)

False
True

In [20]:
ar_5 = np.array(["Alice", "Bob", None])
print(ar_5)
print(ar_5.dtype)

['Alice' 'Bob' None]
object

In [23]:
ar_6 = np.array([1, 2, 3, None])
# print(np.sum(ar_6)) 	
# print(np.nansum(ar_6))
a = None
b = None
print(a == b)	
print(a is b)

True
True

In [24]:

dFrameEmt = pd.DataFrame()
print(dFrameEmt)

Empty DataFrame
Columns: []
Index: []

In [26]:
array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30, -40])
array4 = np.array(['a', 'b', 'c', 'd'])
dFrame2 = pd.DataFrame([array1, array3, array2, array4], columns=[ 'A', 'B', 'C', 'D'])
print(dFrame2)

     A    B    C     D
0   10   20   30  None
1  -10  -20  -30   -40
2  100  200  300  None
3    a    b    c     d

In [27]:
listDict = [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20}]
dFrame3 = pd.DataFrame(listDict)
print(dFrame3)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [28]:
dictForest = {'State': ['Assam', 'Delhi', 'Kerala'], 'GArea': [78438, 1483, 38852] ,'VDF' : [2797, 6.72,1663]}
dFrame4 = pd.DataFrame(dictForest)
print(dFrame4)

    State  GArea      VDF
0   Assam  78438  2797.00
1   Delhi   1483     6.72
2  Kerala  38852  1663.00